<div class="footer">
	<div class="w">
		<div class="links">
			<a href="http://www.acfun.tv" target="_blank" class="link">AcFun</a> |
			<a href="http://www.bilibili.com" target="_blank" class="link">哔哩哔哩</a> |
			<a href="http://www.♂.com" target="_blank" class="link">哲♂学</a> |
			<a href="http://www.zhihu.com" target="_blank" class="link">逼乎</a>
		</div>
		<p class="copyright">
			Copyright ©2017 米米优客. All rights reserved.
		</p>
	</div>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
